<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.zsdApp.dao.SysUserDetailsMapper">
  <resultMap id="BaseResultMap" type="com.py.zsdApp.entity.SysUserDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="head_address" jdbcType="VARCHAR" property="headAddress" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="site_longitude" jdbcType="VARCHAR" property="siteLongitude" />
    <result column="site_latitude" jdbcType="VARCHAR" property="siteLatitude" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="weibo" jdbcType="VARCHAR" property="weibo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, head_address, nickname, shipping_address, birthday, site_longitude, 
    site_latitude, weixin, qq, weibo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.zsdApp.entity.SysUserDetails">
    insert into sys_user_details (id, user_id, head_address, 
      nickname, shipping_address, birthday, 
      site_longitude, site_latitude, weixin, 
      qq, weibo)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{headAddress,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{shippingAddress,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{siteLongitude,jdbcType=VARCHAR}, #{siteLatitude,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{weibo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.py.zsdApp.entity.SysUserDetails">
    insert into sys_user_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="headAddress != null">
        head_address,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="shippingAddress != null">
        shipping_address,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="siteLongitude != null">
        site_longitude,
      </if>
      <if test="siteLatitude != null">
        site_latitude,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="weibo != null">
        weibo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="headAddress != null">
        #{headAddress,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="siteLongitude != null">
        #{siteLongitude,jdbcType=VARCHAR},
      </if>
      <if test="siteLatitude != null">
        #{siteLatitude,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null">
        #{weibo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.zsdApp.entity.SysUserDetails">
    update sys_user_details
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="headAddress != null">
        head_address = #{headAddress,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="siteLongitude != null">
        site_longitude = #{siteLongitude,jdbcType=VARCHAR},
      </if>
      <if test="siteLatitude != null">
        site_latitude = #{siteLatitude,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null">
        weibo = #{weibo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.zsdApp.entity.SysUserDetails">
    update sys_user_details
    set user_id = #{userId,jdbcType=INTEGER},
      head_address = #{headAddress,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      site_longitude = #{siteLongitude,jdbcType=VARCHAR},
      site_latitude = #{siteLatitude,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      weibo = #{weibo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	SELECT
  <include refid="Base_Column_List" />
	FROM
		sys_user_details 
	WHERE
		user_id = #{userId}
  </select>
</mapper>