<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.zsdApp.dao.ZsdAreaMapper">
  <resultMap id="BaseResultMap" type="com.py.zsdApp.entity.ZsdArea">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="area_short" jdbcType="VARCHAR" property="areaShort" />
    <result column="area_is_hot" jdbcType="VARCHAR" property="areaIsHot" />
    <result column="area_sequence" jdbcType="INTEGER" property="areaSequence" />
    <result column="area_parent_id" jdbcType="INTEGER" property="areaParentId" />
    <result column="init_date" jdbcType="TIMESTAMP" property="initDate" />
    <result column="init_addr" jdbcType="VARCHAR" property="initAddr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, area_name, area_code, area_short, area_is_hot, area_sequence, area_parent_id, 
    init_date, init_addr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dt_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.zsdApp.entity.ZsdArea">
    insert into dt_area (id, area_name, area_code, 
      area_short, area_is_hot, area_sequence, 
      area_parent_id, init_date, init_addr
      )
    values (#{id,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{areaShort,jdbcType=VARCHAR}, #{areaIsHot,jdbcType=VARCHAR}, #{areaSequence,jdbcType=INTEGER}, 
      #{areaParentId,jdbcType=INTEGER}, #{initDate,jdbcType=TIMESTAMP}, #{initAddr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.py.zsdApp.entity.ZsdArea">
    insert into dt_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="areaShort != null">
        area_short,
      </if>
      <if test="areaIsHot != null">
        area_is_hot,
      </if>
      <if test="areaSequence != null">
        area_sequence,
      </if>
      <if test="areaParentId != null">
        area_parent_id,
      </if>
      <if test="initDate != null">
        init_date,
      </if>
      <if test="initAddr != null">
        init_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaShort != null">
        #{areaShort,jdbcType=VARCHAR},
      </if>
      <if test="areaIsHot != null">
        #{areaIsHot,jdbcType=VARCHAR},
      </if>
      <if test="areaSequence != null">
        #{areaSequence,jdbcType=INTEGER},
      </if>
      <if test="areaParentId != null">
        #{areaParentId,jdbcType=INTEGER},
      </if>
      <if test="initDate != null">
        #{initDate,jdbcType=TIMESTAMP},
      </if>
      <if test="initAddr != null">
        #{initAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.zsdApp.entity.ZsdArea">
    update dt_area
    <set>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaShort != null">
        area_short = #{areaShort,jdbcType=VARCHAR},
      </if>
      <if test="areaIsHot != null">
        area_is_hot = #{areaIsHot,jdbcType=VARCHAR},
      </if>
      <if test="areaSequence != null">
        area_sequence = #{areaSequence,jdbcType=INTEGER},
      </if>
      <if test="areaParentId != null">
        area_parent_id = #{areaParentId,jdbcType=INTEGER},
      </if>
      <if test="initDate != null">
        init_date = #{initDate,jdbcType=TIMESTAMP},
      </if>
      <if test="initAddr != null">
        init_addr = #{initAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.zsdApp.entity.ZsdArea">
    update dt_area
    set area_name = #{areaName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      area_short = #{areaShort,jdbcType=VARCHAR},
      area_is_hot = #{areaIsHot,jdbcType=VARCHAR},
      area_sequence = #{areaSequence,jdbcType=INTEGER},
      area_parent_id = #{areaParentId,jdbcType=INTEGER},
      init_date = #{initDate,jdbcType=TIMESTAMP},
      init_addr = #{initAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>