<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.zsdApp.dao.ZsdMamberMapper">
  <resultMap id="BaseResultMap" type="com.py.zsdApp.entity.ZsdMamber">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bail" jdbcType="DOUBLE" property="bail" />
    <result column="mamber" jdbcType="DOUBLE" property="mamber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bail, mamber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zsd_mamber
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zsd_mamber
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.zsdApp.entity.ZsdMamber">
    insert into zsd_mamber (id, bail, mamber
      )
    values (#{id,jdbcType=INTEGER}, #{bail,jdbcType=DOUBLE}, #{mamber,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.py.zsdApp.entity.ZsdMamber">
    insert into zsd_mamber
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bail != null">
        bail,
      </if>
      <if test="mamber != null">
        mamber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bail != null">
        #{bail,jdbcType=DOUBLE},
      </if>
      <if test="mamber != null">
        #{mamber,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.zsdApp.entity.ZsdMamber">
    update zsd_mamber
    <set>
      <if test="bail != null">
        bail = #{bail,jdbcType=DOUBLE},
      </if>
      <if test="mamber != null">
        mamber = #{mamber,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.zsdApp.entity.ZsdMamber">
    update zsd_mamber
    set bail = #{bail,jdbcType=DOUBLE},
      mamber = #{mamber,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByExample" parameterType="com.py.zsdApp.entity.ZsdMamber" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zsd_mamber
    where 1=1
  </select>
</mapper>